---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Project from '../components/Project.astro';
import Footer from '../components/Footer.astro';
import Certification from '../components/Certification.astro';
import Website from '../components/Website.astro';
---

<Layout>
  <main class="relative" style="background-color: var(--bg-color) !important;">
    <div class="p-8 relative xs:p-24">
      <Header />
      <About />
      <Skills />
      <Experience />
      <Website />
      <Project />
      <Certification />
      <Education />
      <Footer />
   </div>
  </main>
</Layout>
