---
import Section from './Section.astro';
import { about } from '../site_metadata.json';
---

<Section title="About Me">
  <div class="mb-6" style="white-space: pre-line;">
    <p>{about}</p>
  </div>
</Section>
