---
import Section from './Section.astro';
import EducationItems from './EducationItems.astro';
import educations from '../../educations.yaml';
---

<Section title="Education">
  <EducationItems sections={educations.sections} />
</Section>
