---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
---

<Section title="Education">
    <SummaryItem
      name="Eastern Florida State College"
      date="August 2019 - December 2022"
      description="Bachelor of Applied Science in Computer Information System Technology"
    />

     <SummaryItem
      name="Eastern Florida State College"
      date="August 2009 - May 2015"
      description="Associate of Science in Computer Programming & Analysis"
    />
</Section>
