---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
import educations from '../../content/educations.yaml';
---

<Section title="Education">
  {educations.map((education) => (
    <SummaryItem
      name={education.name}
      date={education.date}
      description={education.description}
    />
  ))}
</Section>
