---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
---

<Section title="Experience">
  <SummaryItem
    name="eLifeguard.com"
    date="March 2016 - Present"
    description="Software Engineer"
  />

   <SummaryItem
    name="Brevard County Public Schools"
    date="August 2022 - October 2022"
    description="Information Technology Specialist Intern"
  />

  <SummaryItem
    name="IRI, The CoSort Company"
    date="July 2015 - October 2015"
    description="Software Tester Intern"
  />

  <SummaryItem
    name="The Computer Repair Zone"
    date="March 2013 - May 2013"
    description="Computer Repair Technician"
  />

  <SummaryItem
    name="SONIC Drive-In"
    date="December 2009 - March 2010"
    description="Food Preparer"
  />

  <SummaryItem
    name="Whataburger"
    date="May 2005 - May 2009"
    description="Team Member"
  />  
</Section>
