---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
import experiences from '../../work-history.yaml';
---

<Section title="Experience">
  {experiences.map((experience) => (
    <SummaryItem
      name={experience.name}
      date={experience.date}
      description={experience.description}
  />
  ))}
</Section>
