---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
import experiences from '../../certifications.yaml';

interface Experience {
  name: string;
  date: string;
  description: string;
}
---

<Section title="Experience">
  {experiences.map((experience: Experience) => (
    <SummaryItem
      name={experience.name}
      date={experience.date}
      description={experience.description}
  />
  ))}
</Section>
