---
const currentYear = new Date().getFullYear();
---
<footer class="bg-gray-800 text-white py-4 mt-8">
  <div class="container mx-auto text-center">
    <p>&copy; {currentYear} Jonathan Steele. All rights reserved.</p>
    <p>Designed and built with Astro, TypeScript, and Tailwind CSS</p>
    <p>
      <a href="LICENSE.txt" class="!text-teal-300 dark:text-teal-300 underline hover:opacity-90">License</a>
    </p>
  </div>
</footer>
