---
import Section from './Section.astro';
import ProjectsGrid from './ProjectsGrid.astro';
import { t } from '../utils/i18n.ts';
---

<Section title={t('projects.title')}>
  <ProjectsGrid projects={t('projects.items')} />
</Section>
