---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
import { fetchWithRetry } from '../utils/fetchWithRetry';

// Define the shape of a GitHub repo object
interface GitHubRepo {
  id: number;
  name: string;
  description: string;
  html_url: string;
}

let repos: GitHubRepo[] = []; // Initialize repos as an empty array

const username = 'iNoles';
const token = import.meta.env.GITHUB_TOKEN; // Ensure this token is set in the environment variables
try {
  const response = await fetchWithRetry(username, token, 3, 2000); // 3 retries with 2 seconds between retries
  const data = await response.json();
  repos = data.items || [];
} catch (error) {
  console.error(error.message);
}
---

<Section title="Projects">
   {repos.map((repo) => (
      <SummaryItem
        name={repo.name}
        description={repo.description}
        link={repo.html_url}
      />
  ))}
  <SummaryItem
    name="Lifeguard Times (Google Play)"
    description="A Jetpack Compose app for Lifeguard Times to allow readers trending and newsworthy articles related to lifeguards and lifeguarding-related topics"
    link="https://play.google.com/store/apps/details?id=com.elifeguard.lifeguardtimes&hl=en_US&pli=1"
  />
</Section>
