---
import Section from './Section.astro';
import SkillsItem from './SkillsItem.astro';
import { t } from '../utils/i18n.ts';
---

<Section title={t('skills.title')}>
  <SkillsItem sections={t('skills.sections')} />
</Section>

