---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
---

<Section title="Skills">
  <SummaryItem
    name="Programming Languages"
    description="Java, Kotlin, Swift, Python, C/C++, C#, Bash, SQL, Objective-C, JavaScript, TypeScript, Dart"
  />

  <SummaryItem
    name="Frameworks"
    description="Jetpack Compose, UIKit, SwiftUI, React, .NET, .NET MAUI, ASP.NET, Flutter"
  />

  <SummaryItem
    name="Databases"
    description="PostgreSQL, MySQL, SQLite"
  />

  <SummaryItem
    name="Tools"
    description="Git, Firebase, Gradle, SSH, RESTful APIs, GraphQL, GitHub Actions, Node.js"
  />
</Section>
