---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';
import skills from '../../skills.yaml';
---

<Section title="Skills">
  {skills.map((skill) => (
    <SummaryItem
      name={skill.name}
      description={skill.description}
    />
  ))}
</Section>
