---
import Section from './Section.astro';
import SkillsItem from './SkillsItem.astro';
import skills from '../../skills.yaml';
---

<Section title="Skills">
   <SkillsItem sections={skills.sections} />
</Section>
