---
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import '../base.css';
import { Font } from 'astro:assets';
import { t } from '../utils/i18n.ts';

const author = 'Jonathan Steele';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{author} | {t('meta.role')}</title>
    <meta name="description" content={t('meta.description')} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://inoles.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content={author} | {t('meta.role')}>
    <meta property="og:description" content={t('meta.description')}>
    <meta property="og:image" content="">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="inoles.github.io">
    <meta property="twitter:url" content="https://inoles.github.io/">
    <meta name="twitter:title" content={author} | {t('meta.role')}>
    <meta name="twitter:description" content={t('meta.description')}>
    <meta name="twitter:image" content="">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <Font cssVariable="--font-inter" preload />

    <GoogleAnalytics measurementId="G-CVE0ZBT5L4" />
  </head>
  <body>
    <slot />
  </body>
</html>
